# Archivos de entorno
.env
images
# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd
bot.log
bot.pid
# Archivos de entorno virtual
venv/
env/
.venv/

# Carpeta de imágenes del bot
images/

# Archivos de proceso y logs
bot.pid
bot.log
*.log
